{% extends 'base_datail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-搜索结果{% endblock title %}
{# 开头信息栏模块 #}
    {% block content %}
	<div class="breadcrumb">
		<a href="#">{{ query }}</a>
		<span>></span>
		<a href="#">搜索结果：</a>
	</div>

	<div class="main_wrap clearfix">

			<ul class="goods_type_list clearfix">
                {% for item in page %}
				<li>
					<a href="{% url 'goods:detail' item.object.id %}"><img src="{{ item.object.image.url }}"></a>
					<h4><a href="{% url 'goods:detail' item.object.id %}">{{ item.object.name }}</a></h4>
					<div class="operate">
                        {% csrf_token %}
						<span class="prize">￥{{ item.object.price }}</span>
						<span class="unit">{{ item.object.price }}/{{ item.object.unit }}</span>
						<a href="javascript:;" sku_id="{{ item.object.id }}" class="add_goods" id="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>
			<div class="pagenation">
                {% if page.has_previous %}
				    <a href="/search?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
                {% endif %}
                {% for pindex in paginator.page_range %}
                    {% if pindex == page.number %}
				        <a href="/search?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
				        <a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
				    <a href="/search?q={{ query }}&page={{ page.next_page_number }}">下一页></a>
                {% endif %}
			</div>
		</div>
    {% endblock content %}
{% block bottom %}<div class="add_jump"></div>{% endblock bottom %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
        var $add_x = $('#add_goods').offset().top;
		var $add_y = $('#add_goods').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

        // name="csrfmiddlewaretoken" csrfmiddlewaretoken
		$('#add_goods').click(function(){
			// 获取商品id和数量
            sku_id = $(this).attr('sku_id')
            count = int(1)
            csrf = $("input[name='csrfmiddlewaretoken']").val()
            params = {'sku_id': sku_id, 'count': count, 'csrfmiddlewaretoken': csrf}
            // 发起ajax请求 地址：cart/add 参数
            $.post('/cart/add/', params, function (data) {
                if (data.ret == 5){
                    // 添加成功
                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                    $(".add_jump").stop().animate({
				        'left': $to_y+7,
				        'top': $to_x+7},
				        "fast", function() {
					        $(".add_jump").fadeOut('fast',function(){
						        $('#show_count').html(data.total_count);
					    });

			        });
                }
                else {
                    // 添加失败
                    alert(data.errmsg)
                }
            })

		})
	</script>
{% endblock bottomfiles %}